@import url('./vendor/normalize.css');
@import url('./vendor/fonts.css');

#root {
  font-family: 'Roboto', 'Arial', sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  max-width: 900px;
  max-height: 100vh;
  margin: 0 auto;
}

body {
  background-color: #272727;
}
