.post {
  display: flex;
  flex-direction: column;
  color: #ffffff;
  text-transform: capitalize;

  &__heading {
    margin: 0;
    font-size: 52px;
  }

  &__title {
    color: #ced59a;
  }

  &__body {
    margin: 40px 0 0 0;
    font-size: 20px;
  }
}
